@import "tailwindcss";

:root {
  /* Sourced directly from the figma design */
  --purple: #571244;
  --light-purple: #DDD0DA;
  --dark-purple: #2C0922;
  --purple-100: #5712441A;
  --pink: #EF4353;
  --pink-200: #EF435333;
  --black: #151515;
  --grey: #696969;
  --light-grey: #F8F8F8;
  --purple-background: #8F6182;
  --pink-background: #F043541A;
  --blue: #1671D9;
  --footer-background: #1D0617;
  --footer-background2: #11040E;
  --footer-border: #C4C4C4;
}

@theme inline {
  --color-purple: var(--purple);
  --color-light-purple: var(--light-purple);
  --color-dark-purple: var(--dark-purple);
  --color-purple-100: var(--purple-100);
  --color-pink: var(--pink);
  --color-pink-200: var(--pink-200);
  --color-black: var(--black);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --color-purple-background: var(--purple-background);
  --color-pink-background: var(--pink-background);
  --color-blue: var(--blue);
  --color-footer-background: var(--footer-background);
  --color-footer-background2: var(--footer-background2);
  --color-footer-border: var(--footer-border);
  --font-nunito: var(--font-nunito), sans-serif;
  --font-nunito-sans: var(--font-nunito-sans), sans-serif;
}

/* custom css declared to avoid repitition in tailwind inline styling */
body {
  font-family: var(--font-nunito-sans);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-nunito);
}
