@import "tailwindcss";

:root {
  /* Sourced directly from the figma design */
  --purple: #571244;
  --pink: #EF4353;
  --black: #151515;
  --grey: #696969;
  --purple-background: #8F6182;
  --blue: #1671D9;
  --footer-background: #1D0617;
  --footer-background2: #11040E;
  --footer-border: #C4C4C4;
}

@theme inline {
  --color-purple: var(--purple);
  --color-pink: var(--pink);
  --color-black: var(--black);
  --color-grey: var(--grey);
  --color-purple-background: var(--purple-background);
  --color-blue: var(--blue);
  --color-footer-background: var(--footer-background);
  --color-footer-background2: var(--footer-background2);
  --color-footer-border: var(--footer-border);
  --font-nunito: var(--font-nunito), sans-serif;
  --font-nunito-sans: var(--font-nunito-sans), sans-serif;
}